
.float-left{
    text-align: left;
}

.float-right {
    text-align: right;
}
#hometag {
    background-color: #131820;
    border: none;
    color: white;
}
.sharebutton {
    width: 75px;
    border: none;
    border-radius: 7px;
    background-color: #252C37;
    color: #CCCDCE;
}
.inputurlcontainer {
    background-color: #131820;
    margin-left: 15px;
    width: 70%; 
}
.headerbotcontainer {
    background-color: #131820;
    margin-top: 15px;
}
#urlinput {
    width: 100%;
    background-color: #131820;
    border: none;
    color: white;
    z-index: 100px;
}
#urlinput:hover {
    border: none;
}
.sharebuttoncontainer {
    text-align: right;

}
* {
    box-sizing: border-box;
  }

body {
    background-color: #131820;
    box-sizing: border-box;
}

.head {
    background-color: #131820;
    color: white;
    padding: 15px 30px 15px 30px;
}
.greenlight{
    height: 25px;
    width: 25px;
}
.circleimage{
    border-radius: 50%;
    height: 30px;
    padding: 0 10px;
    margin-top: -8px;
}
.fa-bell {
    padding: 0 10px; 
    font-size:18px;
    color:white
}
.fa-bars {
    padding: 0 10px;
    font-size: 15;
}
.body {
    padding : 30px;
    height: 500px;
    overflow: auto;
}
.footer {
    padding: 30px;
}
.curv{
    padding: 50px 0;
    width: 100%;
}
.helpPannel {
    background-color: #252c37;
    border-radius: 10px;
    color: white;
    padding: 15px;
}
.comment {
    padding-bottom: 15px;
}
.key {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #333942;
}
.commentInput{
    background-color: #171d26;
    border: solid 1px #242b34;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: unset;
    width: 100%;
    color: white;
    height: 45px;
    color: white;
}
.left_input {
    width: 80%;
}
.icon_container {
    margin-top: 5px;
    width: 10%;
}
.input {
    /* background-color: #171d26; */
    border: none;
    background-color: #171d26;
    color: white;
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
}
.input:focus {
    background-color: #171d26;
    border: solid 1px #242b34;
    outline: solid 1px #242b34;
    color: white;
}
.input::placeholder {
    margin-left: 10px;
}
.button-container {
    margin-left: unset;
    width: 100%;
    margin-top: 50px;
}
.button {
    width: 100%;
}
.fa-telegram{
    color: #252a32;
    background-color: #adadad;
    border-radius: 50%;
    width: 0px;
    height: 0px;
}








.commentelem {
    display: flex;
    flex-direction: column;
    background-color: #131820;
    margin-bottom: 10px;
}
.commentpost_header {
    display: flex;
    background-color: #252C37;
    height: 58px;
    padding-bottom: 10px;
}

.commenttext {
    margin: auto 0px auto 0px;
    padding: 3px 8px 0px 20px;
    background-color: #252C37;
}

.commentreply {
    margin: auto 0px auto 0px;
    padding: 0px 10px 10px 10px;
    background-color: #171D26;
}

.commentid {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    /* margin-right: 10px; */
    padding-top: 2px;
    color: white;
    text-align: center;
    margin: auto 0px auto 6px;
    background-color: #323943;
}

.commentuserimgcontainer {
    width: 50px;
    height: 50px;
    /* margin-right: 10px; */
    padding: 11px;
}

.commentuserimg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.commentusernamecontainer {
    margin: auto 0px auto 0px;
    width: 200px;
}

.commentusername {
    color: white;
    font-family: none;
    font-size: 15px;
    margin-bottom: 0px;
    padding: 7px 0px 0px 14px;
}

.commenttimecontainer {
    display: flex;
    margin-top: 0px;
}

.tviconcontainer {
    /* margin: auto; */
    margin: auto 3px 12px 0px;
}
.timeinfo {
    color: white;
    padding-bottom: 15px;
}

.dot3 {
    padding: 0px;
    margin: 0px 10px auto 10px;
    color: white;
    font-size: 36px;
    line-height: 21px;
    padding-bottom: 5px;
    /* margin-top: auto; */
    margin-bottom: auto;
}

.resolvebuttoncontainer {
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* width: 30px; */
    margin: auto 10px auto 10px;
}

.resolvebutton {
    color: white;
    background-color: #323949;
    border: none;
    border-radius: 12px;
    width: 86px;
    padding: 3px 11px;
}

.commentcontent {
    /* width: 90%; */
    height: 38px;
    background-color: inherit;
    padding: 0px;
    border: none;
    margin: 0px;
    color: white;
    font-size: 19px;
}

.commentreplyinput {
    width: 90%;
    height: 38px;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 19px;
}